<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/product.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to <%= title %> Store</h1>
    <section>
        <h2>Products</h2>
        <div class="products">
            <% products.forEach(p => { %>
                <div class="product-card">
                    <h3><%= p.name %></h3>
                    <div class="product-image">
                        <img src="<%= p.imageUrl %>" alt="<%= p.name %>">
                    </div>
                    <p class="product-price">$<%= p.price.toFixed(2) %></p>
                    <p class="product-description"><%= p.description %></p>
                </div>
           <% }) %>
        </div>

        <div class="pagination">
            <% if (1 !== lastPage) { %>
                <a href="?page=1">first</a>
                <% if (currentPage !== 1) { %> <a class="btn" href="?page=<%= previousPage %> "> prev </a> <% } %>
                <% if (currentPage !== lastPage) { %> <a class="btn" href="?page=<%= nextPage %> "> next </a> <% } %>
                <% if (currentPage !== lastPage) { %> <a class="btn" href="?page=<%= lastPage %> "> last </a> <% } %>

            <% } %>
        </div>
    </section>
    
</body>
</html>